*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

section h1{
    font-size: 28px;
    margin: 12px 0;
    font-weight: bold;
}

.form-campo{
    margin-bottom: 16px;
}
.form-campo label{
    display: block;
    font-weight: bold;
}

.form-campo input{
    width: 100%;
    display: block;
    padding: 8px;
    outline: none;
}

.form-campo input:hover{
    border: 2px solid rgba(0, 0, 0, 0.5);
}

form{
    width: 360px;
}
form button{
    background-color: rgb(148, 148, 150);
    padding: 8px;
    color: white;
    cursor: pointer;
    width: 100%;
    max-width: 160px;
    border: none;
    border-radius: 10px;
}
form button:hover{
    background-color: rgb(100, 100, 100);
    outline: 1px solid rgb(100, 100, 100);
}